body{
    background: url("../images/background_abstract.png") repeat ;
    overflow: auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;    
    color:#777777;
    align-content: center;

}

.navbar{
    background: #ffffff;
    border-bottom: 3px solid #ccc;
    margin-bottom: 30px;
}

.navbar-brand{
    background: #4aaaa5;    
    font-size: 30px;
    padding: 25px;
    color:#ffffff;
    display: inline-block;
    
}

.header-text{
    background: #4aaaa5;    
    font-size: 30px;
    padding: 25px;
    color:white;
    display: inline-block;
}

.contain{
    
    margin: 0 auto; 
    background: #ffffff;
    padding: 20px;
    height:800px;  
    border: 1px solid #dddddd; 
    height: 100%;
}

.navbar-nav{
    display: inline;
    color: #4aaaa5;
}body{
    background: url("../images/background_abstract.png") repeat ;
    overflow: auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;    
    color:#777777;
    align-content: center;

}

.navbar{
    background: #ffffff;
    border-bottom: 3px solid #ccc;
    margin-bottom: 30px;
}

.navbar-brand{
    background: #4aaaa5;    
    font-size: 30px;
    padding: 25px;
    color:#ffffff;
    display: inline-block;
    
}

.header-text{
    background: #4aaaa5;    
    font-size: 30px;
    padding: 25px;
    color:white;
    display: inline-block;
}

.contain{
    
    margin: 0 auto; 
    background: #ffffff;
    padding: 20px;
    height:800px;  
    border: 1px solid #dddddd; 
    height: 100%;
}

.navbar-nav{
    display: inline;
    color: #4aaaa5;
}